{% extends "base.html" %}

{% block title %}FMS - Home{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-lg-6">
        <h1 class="mb-4">Welcome to the Farm Management Simulator Application</h1>
        <p class="lead mb-4">This application can help manage farm operations more efficiently and efficiently. Making everything easy for you.</p>
        <p>Note: use the navigation bar above to explore different sections of the application.</p>
    </div>
    <div class="col-lg-6">
        <img src="https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Farm Image" class="img-fluid rounded shadow">
    </div>
</div>
{% endblock %}